{% extends 'base.html.twig' %}

{% block title %}
	Personnages
{% endblock %}

{% block content %}
	<div class="container-fluid my-4">
		<div class="mx-4">
			<h2 class="text-center mb-4">Tous les personnages</h2>
			<div class="row row-cols-1 row-cols-md-4 row-cols-lg-6">
				{% for character in characters %}
					<div class="col mb-4">
						<div class="card">
							<a href="{{ path('app_test', {'name' : character}) }}">
								<img class="card-img-top" src="{{ images[character] }}" alt="Card image cap">
							</a>
							<div class="card-footer text-center">
								{{ character }}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
