{% extends 'base.html.twig' %}

{% block title %}
	Personnages
{% endblock %}

{% block hero %}{% endblock %}

{% block content %}
	<div class="container-fluid my-4">
		<div class="mx-4">
			<h2 class="text-center mb-4">Tous les personnages</h2>
			<div class="row row-cols-1 row-cols-md-4 row-cols-lg-6">
				{% for character in characters %}
					<div class="col mb-4">
						<div class="card bg-dark text-white border-0 rounded-circle">
							<img class="card-img-top rounded-circle" src="{{ images[character] }}" alt="Card image cap">
							<a href="{{ path('app_character_show', { 'name' : character }) }}">
								<div class="card-img-overlay text-center text-white">
									<h5 class="card-title position-absolute top-50 start-50 translate-middle">{{ character }}</h5>
								</div>
							</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
