<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
	<div class="container text-center">
		<small>Copyright &copy;
			{{ 'now'|date('Y') }}
			- Jonathan Secher</small><br/>
		<small>
			<a href="https://github.com/ashk74" target="_blank" class="link-secondary text-decoration-none">Github</a>
			|
			<a href="https://www.linkedin.com/in/jonathan-secher" target="_blank" class="link-secondary text-decoration-none">Linkedin</a>
		</small>
	</div>
</footer>
