<header
	class="hero p-5 text-center">
	<!-- Background image -->
	<div class="d-flex justify-content-center align-items-center h-100">
		<div class="text-white bg-dark p-4 rounded-3 opacity-75">
			<h1>{{ randomQuote.citation.infos.saison }}</h1>
			<figure class="text-center">
				<blockquote class="blockquote">
					<p>{{ randomQuote.citation.citation|raw }}</p>
				</blockquote>
				<figcaption class="blockquote-footer text-white">
					<cite>{{ randomQuote.citation.infos.personnage }}</cite>
					dans l'épisode
					<cite>{{ randomQuote.citation.infos.episode }}</cite>
				</figcaption>
				<!-- <a class="btn btn-outline-light btn-lg" href="#" role="button">Nouvelle citation</a> -->
			</figure>
		</div>
	</div>
	<!-- Background image -->
</header>
